<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <img src="../../../assets/reliquiasdamorte1.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
     <div>
      <h1>Harry Potter e as Relíquias da Morte parte 1
      <ion-chip outline>
        <ion-label >78%</ion-label>
      </ion-chip>
    </h1>
    <p>18/11/2010</p>
     </div>
     <ion-badge color="light">Aventura</ion-badge>
     <ion-badge color="light">Fantasia</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>

